img {
  border: 0;
}

.collapse .nav-item a {
  padding: 5px 25px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 400;
}

.collapse .nav-item:hover a {
  border-color: #009ad8;
  color: #009ad8;
}

a {
  text-decoration: none;
}

.container .branding .logo {
  margin-right: 10px;
}
.container .branding .site-title {
  margin-bottom: 5px;
  font-size: 1.1428571429em;
  color: white;
}

.container .branding .site-description {
  font-size: 0.7142857143em;
  display: block;
  color: #bfc1c8;
}

body {
  background: url("../photos/banner.png") no-repeat center center;
  background-size: cover;
  font-family: "Roboto", sans-serif;

}

.navbar {
  background-color: #1e202b;
}

.card {
  border: none;
  border-radius: 15px;
}

.card img {
  width: 50px;
  height: 50px;
}

.forecast-table {
  background-color: #1e202b;
}

.hero {
  background-size: cover;
  padding: 70px 0 0 0;
}

.find-location {
  position: relative;
}

.find-location input[type="text"] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white !important;
  border: none;
}

.button,
form input[type="submit"],
form input[type="button"],
form button,
form input[type="reset"] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.forecast-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  overflow: hidden;
  border-radius: 10px;
  margin-top: -150px;
  margin-bottom: 50px;
  background-color: #323544;
}

.forecast-container .forecast {
  width: 33.33%;
}

.forecast-container .forecast .forecast-header {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-weight: 600;
}

.forecast-container .forecast.today .forecast-header:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

.forecast-container .forecast:nth-child(even) {
  background-color: #262936;
}

.forecast-container .forecast .forecast-icon {
  height: 50px;
}

.forecast-table {
  margin-top: 20%;
}

.forecast-container .forecast .forecast-content {
  padding: 50px 20px 10px;
  text-align: center;
}

.forecast-container .forecast.today .forecast-content {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

.forecast-container .forecast.today .location {
  font-size: 1em;
  font-weight: 400;
}

.forecast-container .forecast .forecast-content .degree {
  font-size: 1.7142857143em;
  color: white;
  font-weight: 700;
}

.forecast-container .forecast.today .degree .num {
  font-size: 3.4285714286rem;
  margin-right: 30px;
}

sup {
  top: -0.5em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.forecast-container .forecast .forecast-content .forecast-icon {
  margin-bottom: 20px;
}
.custom {
  color: #009ad8;
  margin: 20px 0;
}

.forecast-container .forecast.today span {
  margin-right: 20px;
  width: 100px;
}
.forecast-container .forecast.today span img {
  width: 15px;
  margin-right: 5px;
}

.site-footer {
  background: #262936;
  padding: 50px 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.site-footer .subscribe-form {
  position: relative;
  margin-bottom: 30px;
}

.site-footer .subscribe-form input[type="text"] {
  padding: 20px 100px 20px 20px;
  background: #1e202b;
  width: 100%;
  color: white;
}

form input,
form textarea,
form select {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
}
button,
input {
  line-height: normal;
}

.site-footer .subscribe-form input[type="submit"] {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.button,
form input[type="submit"],
form input[type="button"],
form button,
form input[type="reset"] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

.site-footer .social-links a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #1e202b;
  color: #009ad8;
  text-align: center;
  line-height: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 1.4em;
}

.row:after {
  content: " ";
  clear: both;
  display: block;
  overflow: hidden;
  height: 0;
}

p {
  margin-top: 0;
}
